
.nutri{
    width: 300px;
    text-align: center;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

*{
    background-color: rgb(255, 241, 243);
}

.bloqueUno{
    text-align: center;
}